<form class="bg- w-50 text-center mx-auto pt-4 px-4 pb-3 bg-myform rounded letter-form">
    <legend class="mx-auto w-100 mb-3 h3 myform-color">Agregar empleados</legend>
    <label class="input-group my-2 " for="nombre">
        <span class="input-group-text ">Nombre:</span>
        <input [(ngModel)]="nombre" class="form-control" type="text" placeholder="Nombre" name="nombre">
    </label>
    <label class="input-group my-2 " for="apellido">
        <span class="input-group-text ">Apellido:</span>
        <input [(ngModel)]="apellido" class="form-control" type="text" placeholder="Apellido" name="apellido">
    </label>
    <label class="input-group my-2 " for="cargo">
        <span class="input-group-text ">Cargo:</span>
        <input [(ngModel)]="cargo" class="form-control" type="text" placeholder="Cargo" name="cargo">
    </label>
    <label class="input-group my-2 " for="sueldo">
        <span class="input-group-text ">Sueldo:</span>
        <input [(ngModel)]="sueldo" class="form-control" type="number" value="" placeholder="Sueldo" name="sueldo">
    </label>
        <button (click)="addEmp()" class="btn btn-dark mt-3">Agregar Empleado</button>
</form>
